/* Medium devices (tablets 416 to 950 pixels) */


@media (min-width:415px) and (max-width:950px) {
    
  h1 { font-size: 3em; }
  h2 { font-size: 2.5em; }
  h3 { font-size: 2em; }
  h4 { font-size: 1.5em; }
  h5 { font-size: 1em; }
  h6 { font-size: 1em; }
  
/* .banner {
  height: 480px;
  padding: 200px 0;  
} */
  
.tabs a {font-size: 14px;}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}